[submodule "packages/ooze-pilot"]
	path = packages/ooze-pilot
	url = https://github.com/fuyutarow/ooze-pilot.git
[submodule "packages/bumpwin-pilot"]
	path = packages/bumpwin-pilot
	url = https://github.com/fuyutarow/bumpwin-pilot.git
	branch = alpha
